body {
    background-color: rgb(239, 233, 233);    
}

/* Barre de nav général */
nav{
    display: flex;
    flex-direction: row;
    height: 50px;
}

/* Bouton home */
.navbar-brand{
    margin: 0;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand:hover{
    background-color: rgb(218, 209, 209);
}


/* Les 2 boutons du menu en général */
.navbar-nav{
    display: flex;
    flex-direction: row;
    width: 83%;
}

/* Taille & emplacement des 2 boutons du menu */
.nav-link{
    width: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Couleur unique des 2 menus */
#block1{
    background-color: #e4afd1;
}
#block2{
    background-color: #BAD0F1;
}

/* Taille & emplacement de la partie des icones */
.icone{
    width: 7%;
    display: flex;
}

/* Taille & emplacement de chaque icone */
.fa{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Effet lors du passage de la sourie sur icone */
.fa:hover{
    background-color: rgb(218, 209, 209);
}

/* Taille & emplacement des sous menus */
.dropdown-menu{
    width: 41.5%;
    text-align: center;
    border: none;
}

/* Couleur unique des sous menus */
#sousblock1{
    background-color: #e4afd1;
}
#sousblock2{
    background-color: #BAD0F1;
}

/* Barre de recherche */
.d-flex{
    position:absolute;
    left: 70%;
    margin-top: 2em;
}

/* Bouton rechercher hover */
#search:hover{
    background-color: rgb(218, 209, 209);
}

/* Partie footer */
footer{
    background-color: black;
    color: white;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Titre du footer */
.title{
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 0.5%;
}

/* Les icones des réseaux sociaux */
.icone{
    justify-content: space-around;
}
.icone > i{
    margin: 0% 2% 0% 4%;
}

/* Nom des réseaux */
.reseaux{
    font-style: italic;
    font-size: 1.5em;
    color: #e4afd1;
}

/* Liste des pages politiques, termes & conditions */
.list{
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1%;
}
li > a{
    color: white;
}
li > a:hover{
    color:#BAD0F1;
}

/* Image d'accueil */
.img_accueil{
    width: 100%;
    height: 40em;
    background-image: url(../utils/welcomePicture.jpg);
    background-size: cover;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
}

/* Badge new */
.badge{
    width: 8%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2%;
    left: 1%;
    background-color: #BAD0F1;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Nouvelle offre h1 + bouton */
.newOffer{
    text-align: center;
    position: relative;
    top: 25%;
}

/* Titre de la nouveautée */
.title1{
    font-size: 10em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 50px;
    color: rgba(255, 255, 255, 0.509);
}

/* Bouton + son hover */
#goOffer {
    width: 15%;
    height: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    background-color: pink;
    color: white;
}
#goOffer:hover{
    background-color: rgb(228, 150, 163);
    color: black;
}

/* Partie des produits favoris */
.title2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    background-image: url(../utils/bckgrnd.png);
    background-size: cover;
    margin: 3% 5% 3% 5%;
}

/* Div pour la boucle des produits fav */
.favproducts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

/* Template de chaque article fav */
.article {
    background-color: white;
    border: 9px solid white;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
} 

/* Photos produits */
.photos{
    width: 90%;
    height: auto;
    cursor: pointer;
}

/* Infos produits */
.h3, .h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* Background titre du produit */
.h3 {
    background-image: url(../utils/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 10px 10px;
}

/* Bouton ajouter au panier */
#add{
    background-color: rgb(239, 233, 233);
}
#add:hover{
    background-color: rgb(218, 209, 209);
}

/* Partie nos valeurs */
.valeurs{
    background-color: #e4afd1;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 1%;
}

/* Grand titre */
h5{
    color: white;
    text-align: center;
    font-size: 3em;
    letter-spacing: 10px;
}

/* L'ensemble des divs */
.all{
    display: flex;
    text-align: center;
}

/* Sous-titres */
h6{
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    padding: 10px;
    background-color: #BAD0F1;
}

/* Les 3 parties (titres+textes) */
.first, .second, .third {
    background-color: white;
    color: black;
    border: solid 2px black;
    width: 33%;
    margin: 20px 20px;
    padding: 20px;
    border-style:dashed;
}

/* Textes court & long différent margin top pour esthétique */
.text1{
    margin-top: 10%;
    font-size: 0.9em;
}
.text2{
    margin-top: 5%;
    font-size: 0.9em;
}
.text3{
    margin-top: 10%;
    font-size: 0.9em;
}